
body {
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color:	#3b4cca;
}


.bottom {
    margin-top: 10px;
    display: flex;
    position: center;
    justify-content: center;
}

#credit {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px;
}


#types {
    display: flex;
    align-items: center;
    justify-content: center;
    
}


#types > .type {
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
    border: solid;
    border-radius: 5px;

    background-color: white;

    margin:1px;
    padding-top: 4px;

    height: 15vh;
    min-height: 50px;
    

    width: 10vw;
    min-width: 60px;
   
}

.type > div{
    color: white;
    border-radius: 2px;
}

.type > div:nth-child(2) {
    border: solid;
    border-right: none;
    border-left: none;
    border-bottom: none;
    
}

.img-container {
    margin: auto;
    display: block;
}

.img-container > img {
   text-align: center;
   
   height: 9vh;
   width:6vw;
}

table {
    background-color:#ffcb05;
}

table, th {
    border:1px solid black;
    border-radius: 5px;

    width: 30vw;
    min-width: 150px;

    height: 1vh;
    min-height: 35px;

    color: white;
    

}


#effective_row th {
    background-color: rgb(19, 156, 19);
    color: rgb(255, 242, 0);
    height: 5vh;
    min-height: 35px;
}

#not_effective_row th {
    background-color: rgb(232, 68, 68);
    color: rgb(255, 242, 0);
    height: 5vh;
    min-height: 35px;
}

/*CSS design for each type*/
#fire > div:nth-child(2) {
    background-color: #EE8130;
}

#water > div:nth-child(2) {
    background-color: #6390F0;
}

#grass > div:nth-child(2) {
    background-color: #7AC74C;
}

#normal > div:nth-child(2) {
    background-color: #8e8e86;
}

#flying > div:nth-child(2) {
    background-color: #A98FF3;
}

#fighting > div:nth-child(2) {
    background-color: #C22E28;
}

#ground > div:nth-child(2) {
    background-color: #d58a12;
}

#bug > div:nth-child(2) {
    background-color: #A6B91A;
}

#electric> div:nth-child(2) {
    background-color: #F7D02C;
}

#ice > div:nth-child(2) {
    background-color: #96D9D6;
}

#ghost > div:nth-child(2) {
    background-color: #735797;
}

#psychic > div:nth-child(2) {
    background-color: #F95587;
}

#dragon > div:nth-child(2) {
    background-color: #3571fc;
}

#fairy > div:nth-child(2) {
    background-color: #D685AD;
}

#dark > div:nth-child(2) {
    background-color: #705746;
}

#rock > div:nth-child(2) {
    background-color: #B6A136;
}

#steel > div:nth-child(2) {
    background-color: #6b81b3;
}

#poison > div:nth-child(2) {
    background-color: #A33EA1;
}